*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}


.create-post-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(226, 225, 177);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.create-post-section h1{
  margin-bottom: 20px;
  color: #333;
}

.create-post-section form{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 15px;
  background-color: rgb(215, 240, 104);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.create-post-section form input,
.create-post-section form textarea{
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.create-post-section form button{
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.create-post-section form button:hover{
  background-color: #81b5ec;
}

.feed-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: rgb(226, 225, 177);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.feed-section .posts-container{
  margin-bottom: 30px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: rgb(215, 240, 104);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feed-section .post{
  margin-bottom: 20px;
  
}

.feed-section img{
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.feed-section h2{
  margin-bottom: 20px;
  color: #333;
}

.feed-section p{
  font-size: 16px;
  color: #555;
}
